<html>

<head>
    <meta charset="UTF-8">
    <title>ホソミチチャット</title>
</head>

<body>
    <%= link_to "トップへ", "/home/top" %>
    <p>ルーム移動</p>
    <%= select_tag(:room_select, options_for_select([['ルーム１', 1], ['ルーム２', 2], ['ルーム3', 3]])) %>
    <input type="text" id="msg_input" style="width:200px;" />
    <button onclick="pushRoomMessage();">入室</button>
    <div id="msg"></div>
    <script src="/node/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript">
    // 1.イベントとコールバックの定義
    var socketio = io.connect('http://210.152.83.238:3030');
    var name = "";
    var roomId = 0;
    var isEnter = false;

    socketio.on("publish", function(data) { addMessage(data.value); });
    socketio.on("disconnect", function() {});


    function pushRoomMessage() {
        var textInput = document.getElementById('msg_input');
        var text = textInput.value;
        if(isEnter){
          var msg = "[" + name + "] " + text;
          socketio.emit("client_to_server_room", { value: msg });
        }else{
          socketio.emit("leave_all_rooms");
          name = text;
          roomId = $("#room_select").val();
          socketio.emit("client_to_server_join", { roomId: roomId, name: name });
          isEnter = true;
          changeLabel();
        }
    textInput.value = '';
    }

    function addMessage(msg) {
        var domMeg = document.createElement('div');
        domMeg.innerHTML = new Date().toLocaleTimeString() + ' ' + msg;
        msgArea.appendChild(domMeg);
    }

    function changeLabel() {
        $(".nameLabel").text("メッセージ：");
        $("#room_select").prop("disabled", true);
        $("button").text("送信");
    }

    $(window).on('beforeunload', function(event) {
      socketio.emit("client_to_server_leave_room");
      return 'ルームから退出してもよろしいですか？';
    });

    // 3.開始処理
    var msgArea = document.getElementById("msg");
    </script>
</body>

</html>