<html>
<head>
  <meta charset="UTF-8">
  <title>ホソミチチャット</title>
</head>
<body>
  <%= link_to "個室へ", "/room"%>
  <input type="text" id="msg_input" style="width:200px;" />
  <button onclick="publishMessage();">語る</button>
  <div id="msg"></div>
  <script  src="/node/node_modules/socket.io-client/dist/socket.io.js"></script>
  <script type="text/javascript">
    // 1.イベントとコールバックの定義
    var socketio = io.connect('http://210.152.83.238:3030');

    socketio.on("connected", function(name) {});
    socketio.on("publish", function (data) { addMessage(data.value); });
    socketio.on("disconnect", function () {});

    // 2.イベントに絡ませる関数の定義
    function start(name) {
      socketio.emit("leave_all_rooms");
      socketio.emit("connected", name);
    }

    function publishMessage() {
      var textInput = document.getElementById('msg_input');
      var msg = "[" + myName + "] " + textInput.value;
      socketio.emit("client_to_server_all", {value: msg});
      textInput.value = '';
    }

    function addMessage (msg) {
      var domMeg = document.createElement('div');
      domMeg.innerHTML = new Date().toLocaleTimeString() + ' ' + msg;
      msgArea.appendChild(domMeg);
    }

    $(window).on('beforeunload', function(event) {
      socketio.emit("client_to_server_dissconnect");
      return '退出してもよろしいですか？';
    });

    // 3.開始処理
    var msgArea = document.getElementById("msg");
    var myName = Math.floor(Math.random()*100) + "さん";
    addMessage("貴方は" + myName + "として入室しました");
    start(myName);
  </script>
</body>
</html>